<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
   
    <meta charset="UTF-8">
	<title>Weather Forecast</title>
     <!-- Bootstrap CSS -->
     <link rel='style.css' 
      type ="stylesheet"
      href='{{ url_for('static',filename='https://fonts.googleapis.com/css2?family=Merienda&display=swap')}}'>
   <link rel='stylesheet'
      href='{{ url_for('static',filename='https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap')}}'>
	<link rel="stylesheet"
      href='{{ url_for('static',filename='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')}}'>
	<link  rel="stylesheet"
       href='{{ url_for('static',filename='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css')}}'>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/boxicons.min.css">
    <link rel="stylesheet" href="css/style.css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet"
    type='text/css'
    href='{{ url_for('static',filename='css/bootstrap.min.css')}}'>
   <link rel="stylesheet"
    type='text/css'
    href='{{ url_for('static',filename='css/boxicons.min.css')}}'>
   <link rel="stylesheet"
    type='text/css'
    href='{{ url_for('static',filename='css/style.css')}}'>
    <link rel="stylesheet"
    type='text/css'
    href='{{ url_for('static',filename='css/style2.css')}}'>
    
  </head>

  <body data-bs-spy="scroll" data-bs-target=".navbar">
    
   <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white">
    
       
      <div class="container">
         <!-- <img src="{{ url_for('static',filename='img/logo.png')}}" alt=""> -->
        <!-- <a class="navbar-brand logo-text" href="#">Weather Forecast</a> -->
        <div class="header">
         <img src="{{url_for('static',filename='img/logo.png')}}" alt=""/>
       </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">

            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('index')}}">Home</a>
            </li>
             <li class="nav-item">
               <a class="nav-link" href="#portfolio">Portfolio</a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="#services">About Us</a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="#team">Team</a>
             </li>
               <!-- <li class="nav-item">
               <a class="nav-link" href="{{url_for('predict')}}">Predict</a>
             </li> -->
          </ul>
        </div>
      </div>
    </nav>
    <div class="carousel slide" data-ride="carousel" id="carouselExampleIndicators">
      <ol class="carousel-indicators">
         <li class="active" data-slide-to="0" data-target="#carouselExampleIndicators"></li>
         <li data-slide-to="1" data-target="#carouselExampleIndicators"></li>
         <li data-slide-to="2" data-target="#carouselExampleIndicators"></li>
      </ol>
      <div class="carousel-inner col-md-4" >
         <div class="carousel-item active">
            <img src="{{ url_for('static',filename='img/p.jpg')}}" alt="">
            <div class="carousel-caption d-none d-md-block">
               <h5 class="animated bounceInRight" style="animation-delay: 1s">Weather Forecast</h5>
               <p class="animated bounceInLeft" style="animation-delay: 2s">It is sunshine that gives us optimism, rain that refreshes, wind that braces us, and snow that exhilarate; the beauty of different weather</p>
            
               <p class="animated bounceInRight" style="animation-delay: 3s"><a href="{{url_for('predict')}}">Predict</a></p>
            </div>
         </div>
         <div class="carousel-item">

            <img src="{{ url_for('static',filename='img/p7.jpg')}}" alt="...">
            <div class="carousel-caption d-none d-md-block">
               <h5 class="animated slideInDown" style="animation-delay: 1s">Weather Forecast</h5>
               <p class="animated fadeInUp" style="animation-delay: 2s">It is sunshine that gives us optimism, rain that refreshes, wind that braces us, and snow that exhilarate; the beauty of different weather.</p>
               <p class="animated zoomIn" style="animation-delay: 3s"><a href="{{url_for('predict')}}">Predict</a></p>
            </div>
         </div>
         <div class="carousel-item">
            <img src="{{ url_for('static',filename='img/p9.jpg')}}" alt="...">
            <div class="carousel-caption d-none d-md-block">
               <h5 class="animated zoomIn" style="animation-delay: 1s">Weather Forecast</h5>
               <p class="animated fadeInLeft" style="animation-delay: 2s">It is sunshine that gives us optimism, rain that refreshes, wind that braces us, and snow that exhilarate; the beauty of different weather.</p>
               <p class="animated zoomIn" style="animation-delay: 3s"><a href="{{url_for('predict')}}">Predict</a></p>
            </div>
         </div>
      </div><a class="carousel-control-prev" data-slide="prev" href="#carouselExampleIndicators" role="button"><span aria-hidden="true" class="carousel-control-prev-icon"></span> <span class="sr-only">Previous</span></a> <a class="carousel-control-next" data-slide="next" href="#carouselExampleIndicators" role="button"><span aria-hidden="true" class="carousel-control-next-icon"></span> <span class="sr-only">Next</span></a>
   </div>
   <!-- </div><a class="carousel-control-prev" data-slide="prev" href="#carouselExampleIndicators" role="button"><span aria-hidden="true" class="carousel-control-prev-icon"></span> <span class="sr-only">Previous</span></a> <a class="carousel-control-next" data-slide="next" href="#carouselExampleIndicators" role="button"><span aria-hidden="true" class="carousel-control-next-icon"></span> <span class="sr-only">Next</span></a>
   </div> -->
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js">
   </script> 
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js">
   </script> 
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js">
   </script>
   <div class="container">
      <div class="row">
         <div class="col-12 section-intro">
            <h1>Gallery of weather</h1>
            <div class="hline"></div>
         </div>
      </div>
   </div>
   
   <section id="portfolio" class="row g-0 py-0">
      
      <div class="col-lg-4 col-sm-6">
          <div class="portfolio-item">
              <img src="{{ url_for('static',filename='img/p1.jpg')}}" alt="">
              <div class="portfolio-overlay">
                  <div>
                      <h3>SNOW</h3>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-lg-4 col-sm-6">
          <div class="portfolio-item">
              <img src="{{ url_for('static',filename='img/p2.jpg')}}" alt="">
              <div class="portfolio-overlay">
                  <div>
                      <h3>SUNNY</h3>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-lg-4 col-sm-6">
          <div class="portfolio-item">
              <img src="{{ url_for('static',filename='img/p3.jpg')}}" alt="">
              <div class="portfolio-overlay">
                  <div>
                      <h3>FOGGY</h3>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-lg-4 col-sm-6">
          <div class="portfolio-item">
              <img src="{{ url_for('static',filename='img/p4.jpg')}}" alt="">
              <div class="portfolio-overlay">
                  <div>
                      <h3>Drizzle</h3>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-lg-4 col-sm-6">
          <div class="portfolio-item">
              <img src="{{ url_for('static',filename='img/p5.jpg')}}" alt="">
              <div class="portfolio-overlay">
                  <div>
                      <h3>RAIN</h3>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-lg-4 col-sm-6">
          <div class="portfolio-item">
              <img src="{{ url_for('static',filename='img/p6.jpg')}}" alt="">
              <div class="portfolio-overlay">
                  <div>
                     <h3>WIND</h3>
                 </div>
              </div>
          </div>
      </div>
  </section>

   <section id="services">
      <div class="container">
         <div class="row">
            <div class="col-12 section-intro">
               <h1>About Us</h1>
               <div class="hline"></div>
            </div>
         </div>
         <div class="row">
            <div class="col-lg-4 col-sm-2 p-4">
               <!-- <div class="icon-box">
                  <i class='flat-color-icons:about'></i>
               </div> -->
               <h3 class="title-sm mt-4">About Us</h3>
               <p>As part of their semester project, third-year students from Gyalpozhing College of Information Technology developed this website. 
                  This website is visually appealing and it also has a weather forecasting component. By providing the required details, 
                  the weather can be forecasted as Snowy, Rainy, Sunny, Foggy, and Drizzling. 
                  Sample parameters are presented above the prediction field to make it covinient for the user.</p>
            </div>
        
            <div class="col-lg-4 col-sm-6 p-4">
               <!-- <div class="icon-box">
                  <i class='bx bxs-image'></i>
               </div> -->
               <h3 class="title-sm mt-4"></h3>
               <div class="logo">
                  <img src="{{url_for('static',filename='img/logo.png')}}" alt="" />
                </div>
               <!-- <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem incidunt sunt molestiae!</p> -->
            </div>
            <div class="col-lg-4 col-sm-6 p-4">
               <!-- <div class="icon-box">
                  <i class='bx bxs-ps:aim-alt'></i>
               </div> -->
               <h3 class="title-sm mt-4">Goal</h3>
               <p>To provide information to people and organizations, which can be used to reduce weather-related losses and enhance societal benefits, 
                  including protection of life and property, public health and safety, and support of economic prosperity and quality of life.</p>
            </div>
         </div>
      </div>
   </section>
      <div class="container">
         <div class="row">
            <div class="col-12 section-intro">
               <h1>Meet Our Team</h1>
               <div class="hline"></div>
            </div>
         </div>
      </div>
   <section id="team" class="row g-0 py-0 text-center">
      <div class="col-lg-3 col-sm-6 team-member">
         <div class="team-member-img">
            <img src="{{ url_for('static',filename='img/dawa.jpg')}}" alt="">
            <div class="social-icons">
               <a href="https://www.facebook.com/profile.php?id=100045223663950"><i class="bx bxl-facebook"></i></a>
               <a href="https://gitlab.com/Dawa_13"><i class="bx bxl-gitlab"></i></a>
            </div>
         </div>
         <div class="p-4">
            <h5 class="title-sm mt-3 mb-0 text-white">12190046</h5>
            <small class="text-white">Dawa Tshering</small>
            <div class="hline"></div>
         </div>
      </div>
      <div class="col-lg-3 col-sm-6 team-member even">
         <div class="team-member-img">
            <img src="{{ url_for('static',filename='img/team-4-800x800.jpg')}}" alt="">
            <div class="social-icons">
               <a href="https://www.facebook.com/profile.php?id=100054685183893"><i class="bx bxl-facebook"></i></a>
               <a href="https://gitlab.com/csonam165"><i class="bx bxl-gitlab"></i></a>
            </div>
         </div>
         <div class="p-4">
            <h5 class="title-sm mt-3 mb-0 text-white">12190077</h5>
            <small class="text-white">Sonam Choden</small>
            <div class="hline"></div>
         </div>
      </div>
      <div class="col-lg-3 col-sm-6 team-member">
         <div class="team-member-img">
            <img src="{{ url_for('static',filename='img/sonam.jpeg')}}" alt="">

            <div class="social-icons">
               <a href="https://www.facebook.com/profile.php?id=100023382907855"><i class="bx bxl-facebook"></i></a>
               <a href="https://gitlab.com/sonamcho505"><i class="bx bxl-gitlab"></i></a>
            </div>
         </div>
         <div class="p-4">
            <h5 class="title-sm mt-3 mb-0 text-white">12190080</h5>
            <small class="text-white">Sonam Choki</small>
            <div class="hline"></div>
         </div>
      </div>
      <div class="col-lg-3 col-sm-6 team-member even">
         <div class="team-member-img">
            <img src="{{ url_for('static',filename='img/thinley.jpeg')}}" alt="">

            <div class="social-icons">
               <a href="https://www.facebook.com/thinley.zangmo.3133"><i class="bx bxl-facebook"></i></a>
               <a href="https://gitlab.com/12190090.gcit"><i class="bx bxl-gitlab"></i></a>
            </div>
         </div>
         <div class="p-4">
            <h5 class="title-sm mt-3 mb-0 text-white">12190090 </h5>
            <small class="text-white">Thinley Zangmo</small>
            <div class="hline"></div>
         </div>
      </div>
   </section> 
   <footer>
      <div class="footer-top">
         <div class="container">
            <div class="row gy-5">
             <div class="col-md-4">

              <h4 class="logo-text"> WEATHER FORECAST</h4>
                            <a href="https://www.gcit.edu.bt"><i class="bx bx-location-plus">Gyalpozhing College of Information Technology</i></a>

               </div>
               <div class="col-md-2">
                  <h5 class="title-sm">Navigation</h5>
                  <div class="footer-links">
                     <a href="{{ url_for('index')}}">Home</a>
                     <a href="#portfolio">Portfolio</a>
                     <a href="#services">About Us</a>
                     <a href="#team">Team</a>
                     <a href="{{url_for('predict')}}">Predict</a>
                  </div>
               </div>
              
               <div class="col-md-2">
                  <h5 class="title-sm">Contact</h5>
                  <div class="footer-links">
                     <a href="https://www.gcit.edu.bt/">Gyalpozhing College of Information Technology</a>
                     <!-- <a href="mb">gcit@rub.edu.bt</a> -->
                  </div>
               </div>
               <div class="col-md-2">
                  <h5 class="title-sm">Email</h5><i class="fa fa-envelope"></i>
                  <div class="footer-links">
                     <a href="mailto:kinleytshering.gcit@rub.edu.bt">kinleytshering.gcit@rub.edu.bt</a></i><i class="fa fa-envelope">  
                     <a href="mailto:12190046.gcit@rub.edu.bt">12190046.gcit@rub.edu.bt</a></i> <i class="fa fa-envelope">  
                     <a href="mailto:12190077.gcit@rub.edu.bt">12190077.gcit@rub.edu.bt</a></i> <i class="fa fa-envelope">  
                     <a href="mailto:12190080.gcit@rub.edu.bt">12190080.gcit@rub.edu.bt</a></i> <i class="fa fa-envelope">  
                     <a href="mailto:12190090.gcit@rub.edu.bt">12190090.gcit@rub.edu.bt</a></i></p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="footer-bottom">
         <div class="container">
            <div class="row justify-content-between gy-3">
               <div class="col-md-6">
                  <p class="mb-0">© PRJ303 2022 GROUP 11. All rights reserved</p>
               </div>
               <div class="col-auto">
                  <p class="mb-0">Created by GROUP 11</p>
               </div>
            </div>
         </div>
      </div>
   </footer>


    <!-- Optional JavaScript; choose one of the two! -->
    <script src="js/bootstrap.bundle.min.js"></script>
 
  </body>
</html>